* {
  margin: 0;
  padding: 0;
}

body {
    font-family: Helvetica;
  }
  .foto-propia {
    border-radius: 30%;
    border: 2px solid #000;
  }

  .presentacion {
    text-align: center;
    font-family: lucida sans;
  }

  .imagen-carpeta:hover {
    width: 55;
  }

  .link-referencia {
    background-color: rgb(240, 199, 16);
    color: #000;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    margin: 20px;
  }
  
  .link-referencia:hover {
    text-decoration: underline;
    color: #fff;
  }
  .contenedor-principal {
    text-align: center;
    height: 100vh;
  }

  .link-referencia2 {
    background-color: rgb(95, 197, 104);
    color: #000;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    margin: 20px;
  }
  
  .link-referencia2:hover {
    text-decoration: underline;
    color: #fff;
  }

  .imgprog {
    border-radius: 12px;
    margin-top: 40px;

  }
  .contenedor-clases {
    height: 100vh;
    background-color: #d8db2c;
  }

  .lista-semanas {
    margin: 40px;
    padding: 40px;
    list-style: none; /*quita los puntos a la lista*/
  }
   
  .lista-semanas li {
    padding: 20px;
  }
  
  h3 {
    font-size: 2em;
    margin: 20px;
  }
  h5 {
    margin: 20px;
  }

  .divisor {
    margin: 20px;
    height: 4px;
    background-color: black;
    border: none;
    border-radius: 5px;
  }